logs
*.log
npm-debug.log*
yarn-error.log*
yarn-debug.log*
lerna-debug.log*

pids
*.pid
*.seed
*.pid.lock

reports

node_modules/

.npm

.eslintcache

*.tgz

.env
.env.test

.cache

.next
.nitro
.output
.nuxt
dist
.cache

.DS_store

.vscode